h1{
	color:#cc00ff;
	font-family: 'Dosis', sans-serif;
	}
.img1{
width:300px;
}
.img2{
	height=200px
}
body {
  background-color: #ff99ff ;
  background-size:cover;
}
p{
	font-family: 'Forum', cursive;
	font-size:20px;
	}
.img1{
width:300px;
}
